@page "/settings"
@using IoTControlCenter.ViewModels
@inject SettingsViewModel viewModel

<h3>Settings</h3>

<div>
    <label>Connection string: </label>
    <input type="text" @bind="viewModel.ConnectionString"/>
</div>
<div>
    <label>Email: </label>
    <input type="text" @bind="viewModel.Email"/>
</div>

<button @onclick="viewModel.SaveSettings">Save</button>

@code {
    
}
